{include file="common/header" title="活动详情" keywords="大乐个学" description="大乐个学" /}

	<div id="adetail-img">
		<img src="{$activityInfo.act_detail_img}" alt="">
	</div>

	<div id="adetail-body">
		<p>{$activityInfo.act_name}</p>
		<div class="detail-info">
			<ul>
				<input id="act-id" type="text" value="{$activityInfo.id}" style="display: none;">
				<li class="clearfix">
					<span>发起者</span>
					<p>大乐个学</p>
				</li>
				<li class="clearfix">
					<span>活动时间</span>
					<p>{$activityInfo.act_start_time}~{$activityInfo.act_end_time}</p>
				</li>
				<li class="clearfix">
					<span>活动地点</span>
					<p>{$activityInfo.act_address}</p>
				</li>
				<li class="clearfix">
					<span id="adetail-count">参与人员({$memberCounts}人)</span>
				</li>
				{if !empty($actJoinList)}
				<li id="uportrait-list">
					{foreach name='actJoinList' item='vo'}
					<div class="uportrait-wrap">
						<img src="{$vo.member_icon}" alt="">
					</div>
					{/foreach}
				</li>
				{/if}
			</ul>
		</div>
		<p>活动介绍</p>
		<div id="adetail-intro" class="pre-navbt">
			<span>{$activityInfo.act_intro}</span>
		</div>
	</div>

	<div id="adetail-navbt" class="nav-bottom">
		<div id="club-help" class="navbt-item"><span>社团互助</span></div>
		{if $activityInfo.act_status == 1}
		<div class="navbt-item active" style="background-color: grey;"><span>未开始</span></div>
		{elseif $activityInfo.act_status == 2}
		<div id="act-apply" class="navbt-item active"><span>立即报名</span></div>
		{elseif $activityInfo.act_status == 3}
		<div class="navbt-item active" style="background-color: grey;"><span>已结束</span></div>
		{/if}
	</div>

	<script src="__SCRIPT__/touch.js"></script>
	<script src="__SCRIPT__/myPop.js"></script>
	<script>
		$(function() {
			$("#club-help").click(function() {
				myalert('功能开发中~');
			});
			$("#uportrait-list").css('width',$(".uportrait-wrap").length * 7 + 'rem');
			$("#uportrait-list").swipeRight(function(){
				var that = $(this), left = parseInt(that.css('left'));
				left = left + 130 > 0 ? 0 : left + 130;
				that.css('left',left + "px");
			});
			$("#uportrait-list").swipeLeft(function(){
				var that = $(this), left = parseInt(that.css('left')), parentWidth = that.parent('ul').width(), selfWidth = that.width();
				console.log(parentWidth,selfWidth);
				left = left - 130 < parentWidth -  selfWidth? parentWidth -  selfWidth : left - 130;
				that.css('left',left + "px");
			});
			$("#act-apply").click(function() {
				$.ajax({
					type:'POST',
					url:"{:url('activity/join')}",
					data:{'id' : $("#act-id").val()},
					async: false,
					success: function(data) {
						if(0 > data.flag) {
							location.href = "{:url('member/edit')}";
						} else if(0 == data.flag) {
							myalert('您已经报过名了！');
						} else {
							myalert('报名成功！');
						}
					}
				})
			})
		})
	</script>

{include file="common/footer" /}