{include file="common/header" title="成员审核" keywords="大乐个学" description="大乐个学" /}

	{if empty($clubJoinList)}
	<div id="none-club" class="center">
		<p>暂时没有收到入团申请哦</p>
	</div>
	{else}
	<div id="apply-list">
		{foreach name="clubJoinList" item="vo"}
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="{$vo.member_icon}" alt="">
				</div>
				<div class="apply-detail">
					<input id="check-id" type="text" value="{$vo.id}" style="display: none;">
					<h1>{$vo.member_name}</h1>
					<h2>{$vo.member_school}</h2>
					<p class="one-line">简介：{$vo.member_intro}</p>
				</div>
			</div>
			<div id="verify-tip" class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		{/foreach}
	</div>
	{/if}

	<script>
		$(function(){
			$("#apply-list").on('click','button.active',function(){
				$.ajax({
					type:'POST',
					url:"{:url('check/accept')}",
					data:{'id' : $("#check-id").val()},
					async: false,
					success: function(data) {
						if(data.code == 1) {
							$("#verify-tip").empty().html('<span>已通过</span>');
						}
					}
				})
			});
			$("#apply-list").on('click','button.inactive',function(){
				$.ajax({
					type:'POST',
					url:"{:url('check/refuse')}",
					data:{'id' : $("#check-id").val()},
					async: false,
					success: function(data) {
						if(data.code == 1) {
							$("#verify-tip").empty().html('<span>已拒绝</span>');
						}
					}
				})
			})
		})
	</script>

{include file="common/footer" /}