{include file="common/header" title="选择社团" keywords="大乐个学" description="大乐个学" /}

	<a href="{:url('club/create')}">
	<div id="cselect-top">
		<img src="__IMAGES__/add.png" alt="">
		<span>没有感兴趣的社团？那就自己创建一个吧！</span>
	</div>
	</a>

    {if !empty($clubList)}
	<div id="club-list">
		<ul>
			{foreach name="clubList" item="vo"}
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__IMAGES__/dlgx_round.jpg" alt="">
				</div>
				<div class="club-info fl">
					<h2><a href="{:url('club/index', ['clubId' => $vo.id])}">{$vo.club_name}</a></h2>
					<h3>{$vo.club_school}</h3>
					<p class="one-line">简介:{$vo.club_intro}</p>
				</div>
			</li>
			{/foreach}
		</ul>
	</div>
    {/if}

{include file="common/footer" /}